.padlac-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.padlac-content {
  flex: 1 0 auto;
}

@media screen and (min-width: 100px){
  .pages-header{
    font-family: 'Raleway',  sans-serif;
    font-size: 18px;
    color: #000;
    text-shadow: 2px 2px 2px #777;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .pages-subheader{
    font-family: 'Orbitron',  sans-serif;
    margin: 5px;
    font-size: 25px;
    color: #ffc000;
    text-shadow: 1px 1px 1px #000;
  }
}

@media screen and (min-width: 768px){
  .pages-header{
    font-family: 'Raleway',  sans-serif;
    font-size: 35px;
    margin: 0px;
    color: #000;
    text-shadow: 2px 2px 2px #777;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .pages-subheader{
    font-family: 'Orbitron',  sans-serif;
    font-size: 30px;
    margin: 20px;
    color: #ffc000;
    text-shadow: 1px 1px 1px #000;
  }
}

@media screen and (min-width: 1366px){
  .pages-header{
    font-family: 'Raleway',  sans-serif;
    font-size: 50px;
    margin: 15px;
    color: #000;
    text-shadow: 2px 2px 2px #777;
    font-weight: 700;
  }

  .pages-subheader{
    font-family: 'Orbitron',  sans-serif;
    font-size: 35px;
    margin: 20px;
    color: #ffc000;
    text-shadow: 1px 1px 1px #000;
  }
}
/*--about--*/
@media screen and (min-width: 100px){
  .landing-about{
    margin-top: 20px;
  }

  .header-slogan{
    padding: 5px;
  }

  .aboutpage-plclogo{
    height: 100px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .about-upper{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .about-lower{
    margin-top: 10px;
    margin-bottom: 50px;
  }

  .aboutpage-slogan{
    font-family: 'Orbitron',  sans-serif;
    color: #ffc000;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
    font-size: 17px;
  }

  .aboutpage-subslogan{
    font-family: 'Raleway',  sans-serif;
    color: #000;
    text-shadow: 1px 1px 1px #777;
    font-weight: 700;
    font-size: 12px;
    margin: 10px;
  }

  .aboutpage-details{
    font-size: 12px;
  }

  .aboutpage-imgheader{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:100%;
    max-height:100%;
  }

  .aboutpage-imgicon{
    height: 100px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }

  .team-photo{
  font-size: 6px;
  }

  .aboutpage-jobs{
    font-size: 10px;
  }

  .emp-col{
    padding: 0;
  }

  .name-parent{
    margin-top: 15px;
    text-align:center;
  }

  .name-template{
    background-color: #fafafa;
    padding: 1px;
    box-shadow: 1px 1px 2px 2px #afabaa;
    display:inline-block;

  }

  .empname{
    font-family: 'Raleway',  sans-serif;
    color: #555;
    font-size: 12px;
    margin: 5px;
  }

  .jobposition{
    font-family: 'Orbitron',  sans-serif;
    color: #ffc000;
    font-size: 7px;
    margin: 5px;
  }

  .jobs-details{
    width: auto;
    height: 250px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
}

@media screen and (min-width: 768px){
  .landing-about{
    margin-top: 20px;
  }

  .header-slogan{
    padding: 40px;
  }

  .aboutpage-plclogo{
    height: 150px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .about-upper{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .about-lower{
    margin-top: 10px;
    margin-bottom: 50px;
  }

  .aboutpage-details{
    font-size: 16px;
  }

  .aboutpage-slogan{
    font-family: 'Orbitron',  sans-serif;
    color: #ffc000;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
    font-size: 30px;
    margin: 10px;
  }

  .aboutpage-subslogan{
    font-family: 'Raleway',  sans-serif;
    color: #000;
    text-shadow: 1px 1px 1px #777;
    font-weight: 700;
    font-size: 15px;
    margin: 10px;
  }

  .aboutpage-imgheader{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:100%;
    max-height:100%;
  }

  .aboutpage-imgicon{
    height: 200px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }

  .team-photo{
  font-size: 12px;
  }

  .aboutpage-jobs{
    font-size: 16px;
  }

  .emp-col{
    padding: 0;
  }

  .emp-col{
    padding: 0;
  }

  .name-parent{
    margin: 15px;
    text-align:center;
  }
  .name-template{
    background-color: #fafafa;
    padding: 10px;
    box-shadow: 1px 1px 2px 2px #afabaa;
    display:inline-block;

  }

  .empname{
    font-family: 'Raleway',  sans-serif;
    color: #555;
    font-size: 18px;
    margin: 5px;
  }

  .jobposition{
    font-family: 'Orbitron',  sans-serif;
    color: #ffc000;
    font-size: 16px;
    margin: 5px;
  }

  .jobs-details{
    width: auto;
    height: 350px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1366px){
  .landing-about{
    margin-top: 20px;
  }

  .header-slogan{
    padding: 40px;
  }

  .aboutpage-plclogo{
    height: 200px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .about-upper{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .about-lower{
    margin-top: 10px;
    margin-bottom: 50px;
  }

  .aboutpage-details{
  font-size: 18px;
  }

  .aboutpage-slogan{
    font-family: 'Orbitron',  sans-serif;
    color: #ffc000;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
    font-size: 50px;
    margin: 10px;
  }

  .aboutpage-subslogan{
    font-family: 'Raleway',  sans-serif;
    color: #000;
    text-shadow: 1px 1px 1px #777;
    font-weight: 700;
    font-size: 25px;
    margin: 10px;
  }

  .aboutpage-imgheader{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:100%;
    max-height:100%;
  }

  .aboutpage-imgicon{
    height: 200px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }

  .team-photo{
  font-size: 12px;
  }

  .aboutpage-jobs{
    font-size: 16px;
  }

  .emp-col{
    padding: 0;
  }

  .name-parent{
    margin: 15px;
    text-align:center;
  }
  .name-template{
    background-color: #fafafa;
    padding: 10px;
    box-shadow: 1px 1px 2px 2px #afabaa;
    display:inline-block;

  }

  .empname{
    font-family: 'Raleway',  sans-serif;
    color: #555;
    font-size: 22px;
    margin: 12px;

  }

  .jobposition{
    font-family: 'Orbitron',  sans-serif;
    color: #ffc000;
    font-size: 19px;
    margin: 5px;
  }

  .jobs-details{
    width: auto;
    height: 400px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
}
/*--Contact--*/
@media screen and (min-width: 100px){
  .landing-contacts{
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .contactpages-details{
    padding-left: 5px;
    padding-right: 5px;
  }

  .contactpages-details a{
    text-decoration: none;
  }
  .contactpages-details h4{
    margin-bottom: 15px;
    margin-top: 20px;
  }

  .contpage-logo{
    height: 100px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .header-slogan{
    font-size: 8px;
  }
}

@media screen and (min-width: 768px){
  .landing-contacts{
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .contactpages-details{
    padding-left: 5px;
    padding-right: 5px;
  }

  .contactpages-details a{
    text-decoration: none;
  }
  .contactpages-details h4{
    margin-bottom: 15px;
    margin-top: 20px;
  }

  .contpage-logo{
    height: 150px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .header-slogan{
    font-size: 15px;
    padding: 0;
  }
}

@media screen and (min-width: 1366px){
  .landing-contacts{
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .contactpages-details{
    padding-left: 5px;
    padding-right: 5px;
  }

  .contactpages-details a{
    text-decoration: none;
  }
  .contactpages-details h4{
    margin-bottom: 15px;
    margin-top: 20px;
  }

  .contpage-logo{
    height: 200px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .header-slogan{
    font-size: 15px;
    padding: 0;
  }
}
/*--Services--*/
@media screen and (min-width: 100px){
  .landing-service{
    margin-top: 30px;
    margin-bottom: 30px;
    height: auto;
  }

  .serv-timelinedes {
    padding: 10px;
    height: 550px;
    box-shadow: 5px 10px 10px #afabaa;
    margin-bottom: 50px;
  }

  .serv-timelinecon {
    padding: 10px;
    height: 550px;
    box-shadow: -5px 10px 10px #afabaa;
    margin-bottom: 50px;
  }

  .serv-content{
    font-size: 8px;
  }
  .serv-timelinepm {
    padding: 10px;
    height: 400px;
    box-shadow: 5px 10px 10px #afabaa;
    margin-bottom: 70px;
  }

  .servpage-logo{
    height: 100px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .servpage-list {
    height: 275px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .servpage-list ul {
    list-style: none;
    position: relative;
    padding: 0;
  }

  .servpage-list ul:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: 0;
    background: #ffc000;
  }

  .servpage-list ul li {
    padding: 5px 10px 5px 10px;
  }

  .servpage-list ul li div {
    padding: 0 5px;
  }

  .servpage-list ul li span {
    color: #000;
    position: absolute;
    left: -15px;
    font-size: 15px;
    background-color: #fff;
    padding: 3px 0px 10px 0px;
    border: 1px solid #ffc000;
    text-align: center;
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }

  .servpage-items {
    font-size: 12px;
    padding-top: 10px;
    padding-left: 5px;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .serv-desc{
    font-size: 8px;
  }

  .servpage-plclogo{
    margin-top: 75px;
    height: 100px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .servpages-header{
    font-family: 'Orbitron',  sans-serif;
    font-size: 18px;
    text-shadow: 1px 1px 1px #000;
  }

  .servpage-temp{
    padding: 0px;
    align-items: center;
  }
}

@media screen and (min-width: 768px){
  .landing-service{
    margin-top: 30px;
    margin-bottom: 30px;
    height: auto;
  }

  .serv-timelinedes {
    padding: 25px;
    height: 520px;
    box-shadow: 5px 10px 10px #afabaa;
    margin-bottom: 50px;
  }

  .serv-timelinecon {
    padding: 25px;
    height: 520px;
    box-shadow: -5px 10px 10px #afabaa;
    margin-bottom: 50px;
  }

  .serv-content{
    font-size: 14px;
  }
  .serv-timelinepm {
    padding: 25px;
    height: 350px;
    box-shadow: 5px 10px 10px #afabaa;
    margin-bottom: 70px;
  }

  .servpage-logo{
    height: 150px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .servpage-list {
    height: 275px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .servpage-list ul {
    list-style: none;
    position: relative;
    padding: 0;
  }

  .servpage-list ul:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: 0;
    background: #ffc000;
  }

  .servpage-list ul li {
    padding: 5px 10px 5px 10px;
  }

  .servpage-list ul li div {
    padding: 0 5px;
  }

  .servpage-list ul li span {
    color: #000;
    position: absolute;
    left: -15px;
    font-size: 15px;
    background-color: #fff;
    padding: 3px 0px 10px 0px;
    border: 1px solid #ffc000;
    text-align: center;
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }

  .servpage-items {
    font-size: 16px;
    padding-top: 5px;
    padding-left: 5px;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .serv-desc{
    font-size: 12px;
  }

  .servpage-plclogo{
    margin-top: 75px;
    height: 100px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .servpages-header{
    font-family: 'Orbitron',  sans-serif;
    font-size: 18px;
    text-shadow: 1px 1px 1px #000;
  }

  .servpage-temp{
    padding: 0px;
    align-items: center;
  }
}

@media screen and (min-width: 1366px){
  .landing-service{
    margin-top: 30px;
    margin-bottom: 30px;
    height: auto;
  }

  .serv-timelinedes {
    padding: 30px;
    height: 600px;
    box-shadow: 5px 10px 10px #afabaa;
    margin-bottom: 50px;
  }

  .serv-timelinecon {
    padding: 30px;
    height: 600px;
    box-shadow: -5px 10px 10px #afabaa;
    margin-bottom: 50px;
  }

  .serv-content{
    font-size: 16px;
  }
  .serv-timelinepm {
    padding: 30px;
    height: 400px;
    box-shadow: 5px 10px 10px #afabaa;
    margin-bottom: 70px;
  }

  .servpage-logo{
    height: 250px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .servpage-list {
    height: 275px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .servpage-list ul {
    list-style: none;
    position: relative;
    padding: 0;
  }

  .servpage-list ul:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: 0;
    background: #ffc000;
  }

  .servpage-list ul li {
    padding: 10px 20px 10px 20px;
  }

  .servpage-list ul li div {
    padding: 0 10px;
  }

  .servpage-list ul li span {
    color: #000;
    position: absolute;
    left: -15px;
    font-size: 15px;
    background-color: #fff;
    padding: 3px 0px 10px 0px;
    border: 1px solid #ffc000;
    text-align: center;
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }

  .servpage-items {
    font-size: 18px;
    padding-top: 5px;
    font-weight: bold;
  }
  .serv-desc{
    font-size: 14px;
  }

  .servpage-plclogo{
    margin-top: 50px;
    height: 200px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
    .servpages-header{
    font-family: 'Orbitron',  sans-serif;
    font-size: 35px;
    text-shadow: 1px 1px 1px #000;
  }

  .servpage-temp{
    padding: 70px;
    align-items: center;
  }
}
/*--Careers--*/

@media screen and (min-width: 100px){
  .career-img{
    max-width: 100%;
    max-height: 100%;
  }
  .landing-careers {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .careers-header{
    font-size: 15px;
  }
  .careers-subheader{
    font-size: 8px;
  }
}

@media screen and (min-width: 768px){
  .career-img{
    max-width: 100%;
    max-height: 100%;
  }
  .landing-careers {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .careers-header{
    font-size: 20px;
  }
  .careers-subheader{
    font-size: 14px;
  }
}

@media screen and (min-width: 1366px){
  .career-img{
    max-width: 100%;
    max-height: 100%;
  }
  .landing-careers {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .careers-header{
    font-size: 30px;
  }
  .careers-subheader{
    font-size: 14px;
  }
}
